ultralytics
#ultralytics for yolov8
streamlit
notebook
numpy
pyproject-toml
opencv-python-headless
opencv-python
ipython
torch==2.1.2


pkgconfig


torchvision
torchutils

albumentations
altair
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
cmake
contourpy
cycler
decorator
entrypoints
filelock
fonttools
gitdb
st-annotated-text
GitPython
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
kiwisolver==1.4.4
lit
markdown-it-py
MarkupSafe

mdurl
mpmath
networkx
numpy
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging
pandas
pkgutil-resolve-name
protobuf
psutil
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
plotly-express
requests
rich
scipy
seaborn
semver
sentry-sdk
six
smmap
streamlit-nightly
st-annotated-text
streamlit-card
streamlit-player
sympy
thop
toml
tqdm
toolz
tornado
tqdm
triton
typing-extensions
tzdata
tzlocal
ultralytics
urllib3
validators
watchdog
zipp


# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
gitpython
pillow
psutil  # system resources
PyYAML
requests
scipy


# Logging ---------------------------------------------------------------------
tensorboard
# clearml>=1.2.0
# comet

# Plotting --------------------------------------------------------------------
pandas
seaborn
matplotlib

scikit-learn == 1.3.1
